<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Pokemon Info</h1>
        <div class="content">
            <ul class="pokemon-list">
                <% pokemon.forEach(p=> { %>
                    <li class="pokemon-item">
                        <strong>Name:</strong>
                        <%= p.name %>
                    </li>
                    <li class="pokemon-item">
                        <strong>Type:</strong>
                        <% p.type_names.forEach(type=> { %>
                            <img src=" /icons/Pokemon_Type_Icon_<%=type %>.svg" alt="<%= type %> icon"
                                style="width: 24px; height: 24px;">
                            <a href="/type?type=<%= type %>">
                                <%= type %>
                            </a>
                            <% }) %>
                    </li>
                    <li class="pokemon-item">
                        <strong>Trainer:</strong>
                        <a href="<%= p.trainer_name ? `/trainer?trainer=${p.trainer_name}` : '#' %>">
                            <%= p.trainer_name || 'No trainer yet' %>
                        </a>
                    </li>
                    <%})%>
                        <button onclick="window.location.href='/'">Back to home</button>
        </div>
    </div>
</body>

</html>