<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <a href="/"><img src="/icons/pokeball_icon.png" alt="Pokeball" style="width: 48px; height: 48px;"></a>
        <h1>Trainers Inventory</h1>
        <div class="content">
            <ul class="pokemon-list">
                <li>
                    <%= trainer %>'s Team:
                </li>
                <% trainers.forEach(tr=> { %>
                    <% if (tr.pokemon_name) { %>
                        <li class="pokemon-item">

                            <a href="/search?pokemon=<%= tr.pokemon_name %>">
                                <%= tr.pokemon_name %>
                            </a>

                            <form action="/release" method="POST">
                                <input type="hidden" name="pokemon" value="<%= tr.pokemon_name %>">
                                <input type="hidden" name="trainer" value="<%= trainer %>">
                                <button type="submit">Release</button>
                            </form>
                        </li>
                        <% } else { %>
                            <p>No Pokemon yet</p>
                            <% } %>
                                <% }) %>
            </ul>
        </div>
        <h3>Add Pokemon to trainer</h3>
        <form method="post" action="/add">
            <input type="text" name="pokemon" placeholder="Pokemon" />
            <input type="hidden" name="trainer" placeholder="Trainer" value="<%= trainer %>" /><button
                type="submit">Submit</button>
        </form>
        <button onclick="window.location.href='/'">Back to home</button>
    </div>
</body>

</html>