<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <a href="/"><img src="/icons/pokeball_icon.png" alt="Pokeball" style="width: 48px; height: 48px;"></a>
        <h1>
            <img src=" /icons/Pokemon_Type_Icon_<%= type %>.svg" alt="<%= type %> icon"
                style="width: 24px; height: 24px;">

            <%= type%> type
        </h1>
        <div class="content">
            <ul class="pokemon-list">
                <% pokemons.forEach(pokemon=> { %>
                    <li class="pokemon-item">
                        <img src="/sprites/<%= pokemon.pokemon_id %>.png" alt="<%= pokemon.name %> Sprite"
                            style="height: 50px;">
                        <a href="/search?pokemon=<%= pokemon.pokemon_name %>">
                            <%= pokemon.pokemon_name %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <button onclick="window.location.href='/'">Back to home</button>
        </div>
</body>

</html>